.main {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 0.7rem;
}

h1 {
 text-align: center;
}

.table {

}

.newFlerbRow{
	
}

.editingButtons {

}

.customButton {
	width: 90px;
}

.buttonHolder{
	
}