extends layout

block content
	.panel.panel-warning
		.panel-heading
			.panel-title Error Encountered
					.panel-body
						Oh no! You broke it! Check out your console for error messages or 
							a(href='index.js')try again
