extends layout

block content
	.main.container(ng-controller='AppCtrl')
		h1 FLERBS
		.table.container
			.row
				.col-md-3 Name
				.col-md-3 Picture
				.col-md-3 About
				.col-md-3 Editing
			.row.newFlerbRow
				
					.col-md-3.form-group 
						input.form-control(ng-model='flerb.name' type='text' id='name' placeholder='name' name='name')
					.col-md-3.form-group
						input.form-control(ng-model='flerb.picUrl' type='text' id='picUrl' placeholder='Image URL' name='picUrl')
					.col-md-3.form-group
						input.form-control(ng-model='flerb.about' type='text' id='about' placeholder='All About This Flower/Herb' name='about')
					.col-md-3.form-group
						button.btn.btn-primary(ng-click='addFlerb()' type='submit') Add
			.row(ng-repeat='flerb in flerbs')
				.col-md-3 {{flerb.name}}
				.col-md-3 {{flerb.picUrl}}
				.col-md-3 {{flerb.about}}
				.col-md-3 