doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title #{title}
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
  link(rel='stylesheet', href='css/bootstrap/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='css/bootstrap/css/glyphicons.css')
  link(href='css/bootstrap/fonts/glyphicons-halflings-regular.eot')
  link(href='css/bootstrap/fonts/glyphicons-halflings-regular.ttf')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather+Sans|Raleway')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(rel='stylesheet', href='/css/main.css')

  body(ng-app='myApp')
  //navbar

  //content block
  block content

  //footer

  //scripts
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js')
  script(src='/controllers/controller.js')
